<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head(${post.getTitle()})">
</head>
<body >
<nav th:replace="partials/partials.html :: navbar"></nav>
<div th:replace="partials/partials.html :: header"></div>

<fieldset class="text-center">
    <legend>Add an image</legend>
    <form th:action="@{/posts/img/update/{id}(id=${post.id})}" th:method="post">
        <label for="title">Title</label>
        <input type="text" id="title" name="title">
        <br>
        <label for="post-image">Body</label>
        <textarea  id="post-image" name="post-image"></textarea>
        <input type="submit" value="submit">
    </form>
    <br>
    <legend>Edit/Add details</legend>
    <form th:action="@{/posts/details/update/{id}(id=${post.id})}" th:method="post">
        <label for="history">History</label>
        <input type="text" id="history" name="history">
        <br>
        <label for="topic">topic</label>
        <textarea  id="topic" name="topic"></textarea>
        <br>
        <label for="isAwesome">Is Awesome</label>
        <input type="radio" id="isAwesome" name="isAwesome" value="true">
        <br>
        <label for="isNotAwesome">Is Not Awesome</label>
        <input type="radio" id="isNotAwesome" name="isAwesome" value="false">
        <br>
        <input type="submit" value="submit">
    </form>
</fieldset>
    <h2 th:text="${post.title}"></h2>
        <div th:if="${post.getTags()}">
            <ul >
                <li th:each="tag : ${post.getTags()}" th:text="${tag.name}"></li>
            </ul>
        </div>
            <h2 th:text="${post.getBody()}"></h2>
            <div th:if="${post.getPostDetails()}">
                 <p th:text="${post.postDetails.historyOfPost}"></p>
                <p th:text="${post.postDetails.topicDescription}"></p>
                <p th:text="${post.postDetails.isAwesome()}"></p>

            </div>
            <div th:if="${post.getUser()}">
                <p th:text="${post.user.email}"></p>
            </div>
            <div th:if="${post.getPost_images()}">
            <div th:each="pic:${post.post_images} ">

                <img  alt="pic"  th:src="${pic.url}">
            </div>
            </div>

<footer th:replace="partials/partials.html :: footer"></footer>

<script th:replace="partials/partials.html :: bootstrap-js"></script>

</body>
</html>